apiVersion: v1
kind: Service
metadata:
  name: sonarr
  namespace: jellyfin
  labels:
    app: sonarr
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 8989
    targetPort: 8989
    protocol: TCP
  selector:
    app: sonarr
