apiVersion: v1
kind: Service
metadata:
  name: radarr
  namespace: jellyfin
  labels:
    app: radarr
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 7878
    targetPort: 7878
    protocol: TCP
  selector:
    app: radarr
