apiVersion: v1
kind: Service
metadata:
  name: jackett
  namespace: jellyfin
  labels:
    app: jackett
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 9117
    targetPort: 9117
    protocol: TCP
  selector:
    app: jackett