apiVersion: v1
kind: Service
metadata:
  name: jellyseerr
  namespace: jellyfin
  labels:
    app: jellyseerr
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 5055
    targetPort: 5055
    protocol: TCP
  selector:
    app: jellyseerr
